version: '3.8'

services:
  # 1. DATABASE
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_container
    restart: always
    environment:
      - ACCEPT_EULA=y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD} # nhận tham số từ file yml
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:      
      - app-network

  # 2. BACKEND API
  flood-rescue-api: # Đặt tên ngắn gọn là api
    # Hứng tham số từ bên file yml
    image: ${REGISTRY}/${REPO_USER}/${IMAGE_NAME}:${IMAGE_TAG_VERSION}
    build:
      context: .
      dockerfile: FloodRescue/FloodRescue.API/Dockerfile
    container_name: api_container
    restart: always
    depends_on: 
      - db
    ports:
      - "8080:80" # Map port để test local nếu cần
    environment:
      # Lưu ý: Server=db (tên service db ở trên)
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=FloodRescue;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;Encrypt=False
    networks:
      - app-network

  # 3. CLOUDFLARE TUNNEL
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN} #nhận tham số từ file .yml
    networks:
      - app-network

# Định nghĩa Network để các container nhìn thấy nhau dễ hơn
networks:
  app-network:
    driver: bridge

volumes:
  sql_data:
